wheel
arnie==0.1.6
auto_mix_prep==0.2.0
Bio==1.7.1
biopython==1.84
matplotlib==3.5.1
pyfastaq==3.17.0
RNA==0.13.2
scikit_bio==0.6.2
scipy
streamlit==1.40.1
streamlit_option_menu==0.4.0
termcolor==2.5.0
transformers==4.44.2
tokenizers
torch==2.2.1
tqdm==4.66.4
viennarna
numpy==1.23
pandas
